__pycache____pycache__

















*.log.vscode/.idea/.DS_Store*.sqlite3*.db.gitignore.git.venv.envvenv/env/.Python*.pyd*.pyo*.pyc*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
.git
.gitignore
*.db
*.sqlite3
.DS_Store
.idea/
.vscode/
*.log
